h3,
h4 {
  text-align: center;
}
#upload {
  font-size: larger;
  background-color: orange;
}
div {
  text-align: center;
}
#fetch-data {
  background-color: #86d4ee;
}
#success {
  color: green;
  font-weight: bolder;
}
#failure {
  color: red;
  font-weight: bolder;
}
h3.file-input {
  background-color: bisque;
  display: inline;
}
h4.file-format {
  opacity: 0.5;
}
